# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
.pytest_cache/
venv/
env/
*.env

# JavaScript
node_modules/
npm-debug.log
yarn-error.log

# Docker
*.dockerignore
Dockerfile*
docker-compose*

# General
*.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp
*.swo
